pydantic==1.8.1
celery==5.0.5
numpy==1.19.2
uvicorn==0.13.4
fastapi==0.65.1
Pillow==8.2.0
redis==3.5.3
redis-server==3.5.3
Jinja2==2.11.2
starlette==0.13.6
opencv-python-headless==4.3.0.38
