<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">    
    <link rel="icon" type="image/png" href="./static/images/favicon.ico">
    <title>Photo Mosaic</title>


    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/sweetalert2.min.css" rel="stylesheet">
    
    <style>
      .progress 
      {
        background-color: #d8d8d8;
        border-radius: 20px;
        position: relative;
        margin: auto;
        height: 30px;
        width: 350px;
      } 
      .progress-done 
      {
        background: linear-gradient(to left, #F2709C, #FF9472);
        box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
        border-radius: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 0;
        opacity: 0;
        transition: 1s ease 0.3s;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      
      input[type='file'] {
        color: rgba(0, 0, 0, 0)
      }     
      }      
    </style>
    
  </head>
  <body >

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">This can perform a Mosaic of 648 background images. If images are more, it will only use the first 648 images, if it is less it will repeat. If any need for more images or an increase in image quality email me.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=sharathat45@gmail.com" target="_blank" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </header>

    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>Mosaic</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <main role="main">
      <div class="container">
        <h1 class = "lead" style = "font-size: 70px;">Photo <strong>Mosaic</h1>
        <br>
        <br>
        <div class="row">
          <div class="col-3"> 
            <select class="form-select form-select-sm" id="image_option" >
              <option value="False" selected>Colour mosaic</option>
              <option value="True">Grayscale mosaic</option>
            </select>
          </div>  
          <div class="col-4"> 
            <select class="form-select form-select-sm" id="focus_option" >
              <option value="True" selected>More Focus on target image</option>
              <option value="False">More focus on background images</option>
            </select>  
          </div>
          <div class="col-4">
            <button class="btn btn-outline-dark btn-sm" id="get_mosaic" onclick="getMosaic()">Get Mosaic</button> 
            <!-- <button class="btn btn-primary btn-sm" id="download" style="visibility:hidden" onclick= "abc()" >Download</button>  -->
          </div>   
        </div>  
        <br>
        <div class="row">
          <div class="col-3">      
            <label for="FileUpload1" style = "margin-bottom: 0px; margin-left: 7px;">Upload Target Image</label> 
            <input class="btn btn btn-sm" type="file" accept=".jpg, .jpeg, .png" id="FileUpload1">
          </div>
          <div class="col-5">
            <label for="filepicker" style = "margin-bottom: 0px; margin-left: 8px;">Upload Background Images in a <u>Zipfile</u></label> 
            <input class="btn btn btn-sm" type="file" accept=".zip" id="filepicker">
          </div>                 
        </div>  
      </div>
     
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./static/images/colour_thumb-1.jpg" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">
                    Colour Mosaic 
                    <br>
                    More focus on Target Image
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="swipe('colour_1.jpg')" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./static/images/grayscale_thumb-2.jpg" alt="Thumbnail [100%x225]"  data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">
                    Grayscale Mosaic 
                    <br>
                    More focus on Target Image
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="swipe('grayscale_2.jpg')" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./static/images/colour_thumb-3.jpg" alt="Thumbnail [100%x225]" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">
                    Colour Mosaic 
                    <br>
                    More focus on Background Images
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="swipe('colour_3.jpg')" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <p class = "float-start mb-0">Viewing the images from thumbnail or dowloading computed mosaic takes longer time, test your patience!!</p>
    </main>
    
    <script src="./static/js/bootstrap.bundle.min.js"></script>
    <script src="./static/js/mosaic.js?2"></script>
    <script src="./static/js/download.js"></script>
    <script src="./static/js/sweetalert2.min.js"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script> -->

   
